html,
body {
	width: 275px;
	/* Having only the padding in body > div doesn't seem to work for bottom padding, though... */
	padding-bottom: 8px;
}

body > div {
	/* Can't put this into body, or else the right margin won't be respected */
	padding: 8px;
}


/* Prevent contents of buttons from being selectable */
button img {
	pointer-events: none;
	user-select: none;
}


/* Stylings for button animation */
button {
	border: none;
	width: 100%;
	margin: 3% auto;
	padding: 4px;
	text-align: center;
	font-size: 1.0em;
	cursor: pointer;
	box-shadow: 2px 2px 3px var(--button-shadow-color);
	border-radius: 2px;	
	transition: transform 0.15s ease, box-shadow 0.15s ease, background-color 0.15s ease;
}

button:hover {
	transform: scale(1.08);
	box-shadow: 3px 3px 6px var(--button-hover-shadow-color);
}


/* General stylings for sections */
div.button-section {
	margin: 1em 0px 1em 0px;
	padding: 10px 10px 10px 10px;
	border-radius: 5px;
}


/* Stylings for buttons section */
.buttons-section {
	width: fit-content;
	float: right;
}


/* Stylings for spinner */
.spinner-root {
	--spinner-size: 32px;
	--spinner-border-size: 5px;
	--spinner-overall-size: calc(var(--spinner-size) + var(--spinner-border-size));
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}

.spinner-background {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: light-dark(var(--oc-white), var(--oc-black));
	opacity: 75%;
	z-index: 20;
}

.spinner-animation {
	position: relative;
	display: flex;
	padding: 10px 10px 10px 10px;
	/* The 13px here are probably from paddings and margins that I haven't accounted for... */
	left: calc(calc(50%) - (var(--spinner-overall-size) * 0.5) - 13px);
	top: calc(calc(50%) - (var(--spinner-overall-size) * 0.5) - 13px);
	z-index: 30;
}

.spinner {
	width: var(--spinner-size);
	height: var(--spinner-size);
	border: var(--spinner-border-size) dotted var(--spinner-color);
	border-radius: 50%;
	border-top-color: var(--spinner-fill-color);
	animation: spin 2s linear infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* Stylings for error dialogs */
form {
	min-width: 100px;
}